# Node backend
node_modules/
.env
*.log

# Frontend build
dist/
build/

# System files
.DS_Store
Thumbs.db

# Large files
*.zip
*.pdf
*.xlsx
*.bak
*.backup
*.tmp

# Project backups
bdm-backend/src/backups/
